[req]
days = 90
serial = 1
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
prompt=no

[req_distinguished_name]
C = RU
ST = Moscow
L = Moscow
O = votintsevak
OU = "votintsevak P1_2"
CN = "votintsevak CRL Valid"
emailAddress = alexeyvotintsev@yandex.ru

[v3_ca]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, serverAuth, clientAuth
subjectAltName = URI:crl.valid.votintsevak.ru
crlDistributionPoints = URI:https://crl.votintsevak.ru

